*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.main{
    background-image: url("assets/images/background.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw) ;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}


.box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    max-width: 200vh;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    display: flex;
    height: 62px;
}
nav img{
    color: red;
    width: 80px;
    position: relative;
    z-index: 5;
}

.btn-SignIn{
    background-color: red;
    color: white;
    border: none;
    height: 25px;
    width: 50px;
    border-radius: 4px;
    position: relative;
    z-index: 5;
    font-weight: bold;
}

.hero{
    height: calc(100% - 62px);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-style:'poppins', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 5;
    gap: 20px;
    padding: 0 23px;
    text-align: center;

}

.para-bold{
    font-size: 24px;
    font-weight: 700;
    font-weight: bold;
    line-height: 30px;
    gap: 10px;
    text-align: center;
}

.seperation{
    background-color: red;
    height: 2px;
}

input[type="email"] {
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  box-sizing: border-box;
  border: 1px solid rgba(246, 238, 238, 0.5);

}
    


.submit{
  background-color: #e50914;
  font-size: 11px;
  font-weight: 500;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;

}
